.cars-wrap {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 94px;
  z-index: 11;
}

.cars-swiper-wrap {
  position: relative;
  padding: 0 155px;
  .swiper-container{ overflow: inherit;}
  .swiper-button-prev,
  .swiper-button-next {
    width: 60px;
    height: 100px;
    border-radius: 100px;
    background-color: #fff;
    outline: none;
    @include webkit(box-shadow, 0 0 18px 0 rgba(0, 0, 0, .2));
    @include webkit(transition, all .3s ease 0s);
    &.swiper-button-disabled {
      opacity: 1;
    }
    &:hover {
      background-color: $color-main;
    }
  }

  .swiper-button-prev {
    left: 53px;
    &:after {
      content: "";
      width: 14px;
      height: 14px;
      margin-left: 5px;
      border-left: 3px solid black;
      border-top: 3px solid black;
      @include webkit(transform, rotate(-45deg));
    }
    &:hover {
      &:after {
        border-left: 3px solid $color-blue;
        border-top: 3px solid $color-blue;
      }
    }
  }

  .swiper-button-next {
    right: 53px;
    &:after {
      content: "";
      width: 14px;
      height: 14px;
      margin-right: 5px;
      border-right: 3px solid black;
      border-top: 3px solid black;
      @include webkit(transform, rotate(45deg));
    }
    &:hover {
      &:after {
        border-right: 3px solid $color-blue;
        border-top: 3px solid $color-blue;
      }
    }
  }
}